"*":
  "autoclose-html":
    forceInline: [
      "*"
    ]
  "autocomplete-plus":
    confirmCompletion: "enter"
  core:
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    softWrap: true
  welcome:
    showOnStartup: false
